extends ../../layout
include ../../mixins/form-helpers

block content

  form#user-form(action="/admin/users/create", method="POST")
    fieldset
      legend Create a new User
    
      .form-group
        mixin label("name", "Name")

        mixin text("name", user.name)
        mixin errorMessage(user, 'name')

    .form-actions
      a.btn.btn-warning(href="/admin/users") Back
      | 
      input.btn.btn-primary(type="submit", value="Create")
