extends ../../layout
include ../../mixins/form-helpers

block content
  form#user-form(action="/admin/users/" + user._id + "/edit", method="POST", role="form")
    fieldset
      legend Edit User

      .form-group
        mixin label("name", "Name")
        mixin text("name", user.name)
        mixin errorMessage(user, 'name')

    .form-actions
      a.btn.btn-warning(href="/admin/users") Back
      | 
      input.btn.btn-primary(type="submit", value="Save")
