extends ../layout
include ../mixins/form-helpers

block content
  form#signal-form(action="/signals/" + signal._id + "/edit", method="POST", role="form")
    fieldset
      legend Edit Signal

      .form-group
        mixin label("type", "Type")
        mixin text("type", signal.type)
        mixin errorMessage(signal, 'type')
      .form-group
        mixin label("institution", "Institution")
        mixin text("institution", signal.institution)
        mixin errorMessage(signal, 'institution')
      .form-group
        mixin label("url", "Url")
        mixin text("url", signal.url)
        mixin errorMessage(signal, 'url')
      .form-group
        mixin label("email", "Email")
        mixin text("email", signal.email)
        mixin errorMessage(signal, 'email')
      .form-group
        mixin label("i18n", "I18n")
        mixin boolean("i18n", signal.i18n)
        mixin errorMessage(signal, 'i18n')
      .form-group
        mixin label("answerGuarantee", "Answerguarantee")
        mixin boolean("answerGuarantee", signal.answerGuarantee)
        mixin errorMessage(signal, 'answerGuarantee')
      .form-group
        mixin label("answerTimeFrame", "Answertimeframe")
        mixin number("answerTimeFrame", signal.answerTimeFrame)
        mixin errorMessage(signal, 'answerTimeFrame')
      .form-group
        mixin label("anonimity", "Anonimity")
        mixin boolean("anonimity", signal.anonimity)
        mixin errorMessage(signal, 'anonimity')
      .form-group
        mixin label("verification", "Verification")
        mixin boolean("verification", signal.verification)
        mixin errorMessage(signal, 'verification')
      .form-group
        mixin label("confirmation", "Confirmation")
        mixin boolean("confirmation", signal.confirmation)
        mixin errorMessage(signal, 'confirmation')
      .form-group
        mixin label("responsive", "Responsive")
        mixin boolean("responsive", signal.responsive)
        mixin errorMessage(signal, 'responsive')
      .form-group
        mixin label("middleMan", "Middleman")
        mixin boolean("middleMan", signal.middleMan)
        mixin errorMessage(signal, 'middleMan')
      .form-group
        mixin label("registration", "Registration")
        mixin boolean("registration", signal.requirements.registration)
        mixin errorMessage(signal, 'registration')
      .form-group
        mixin label("photo", "Photo")
        mixin boolean("photo", signal.requirements.photo)
        mixin errorMessage(signal, 'photo')
      .form-group
        mixin label("esignature", "Esignature")
        mixin boolean("esignature", signal.requirements.esignature)
        mixin errorMessage(signal, 'esignature')
      .form-group
        mixin label("name", "Name")
        mixin boolean("name", signal.requirements.name)
        mixin errorMessage(signal, 'name')
      .form-group
        mixin label("remail", "Remail")
        mixin boolean("remail", signal.requirements.email)
        mixin errorMessage(signal, 'remail')
      .form-group
        mixin label("egn", "Egn")
        mixin boolean("egn", signal.requirements.egn)
        mixin errorMessage(signal, 'egn')
      .form-group
        mixin label("address", "Address")
        mixin boolean("address", signal.requirements.address)
        mixin errorMessage(signal, 'address')
      .form-group
        mixin label("location", "Location")
        mixin boolean("location", signal.requirements.location)
        mixin errorMessage(signal, 'location')
      .form-group
        mixin label("tags", "Tags")
        | Array
        mixin errorMessage(signal, 'tags')
      .form-group
        mixin label("category", "Category")
        mixin text("category", signal.category)
        mixin errorMessage(signal, 'category')

    .form-actions
      a.btn.btn-warning(href="/signals") Back
      | 
      input.btn.btn-primary(type="submit", value="Save")
